.Container {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 310px;
  padding: 20px;
}

.ColorPicker {
  padding: 30px 10px;
  border: 1px solid black;
  text-align: center;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.ColorPicker__title {
  font-size: 25px;
  font-weight: 400;
  margin: 0px 0px 30px 0px;
}

.ColorPicker__option {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 4px;
  cursor: pointer;

  transition: transform 250ms linear;
}

.ColorPicker__option--active {
  transform: scale(1.2);
}
span {
  font-weight: bold;
}
